# generate random secret key = `openssl rand 256 | base64`
secretKey=9mdkLHcgYl/z8ESqPVSpPK8TeZqVOWqy/8oJFO2nkCh2J5QYQWPwTHkPg4ZBKyXsv3pkDshIN0+Ug+cFrQ5xNWhwFry3zG+UpkKRQZSN1uIIWZclXTFAmS9ztMrL9DpNntXhOMT5aa7MOUs1pQjLE0SGM6NFGVmPqBKlH1Gvq5JSXS0k6u196e2NzNwKo1+6PvuzSswjdWgt3DMXi4odPVYwn6THMXNkY15ULhn80ZqfqRdWw9FwEoF5W6IHeFVCW6nGE62v0bBZGoidyhcY9uAe2oaoYbsbkna06c8/4mmi+I1vZMb34Um1EQGmpD4nD3Rop6qZCpo8QxN4CgXkog==
encrypt=HS256
